BIDS_DIR=/path/to/your/bids
RESEARCH_DIR=/path/to/base/dir; in case of PCH2A this is the PCH2A folder containing the structuralConnectivity and advanvedVolumetry subfolders
FS_LICENSE=/path/to/your/license.txt
